[2018-07-09 08:20] mr-c opened #1 "Add a timeline"
With project and organizational logos; also with pre-CWL major events like Taverna's SCUFL: https://www.slideshare.net/soilandreyes/2011-0706-scufl2-poster-because-a-workflow-is-more-than-its-definition-bosc-2011

[2018-09-02 09:49] mr-c opened #9 "Non-youtube player for introduction video"
Using https://github.com/common-workflow-language/logo/blob/master/cwl.mp4?raw=true

Wishlist:
- [ ] open source
- [ ] self-hosted
- [ ] mobile friendly
- [ ] subtitles
- [ ] minimal use of cookies, if at all

[2019-05-23 13:19] mr-c opened #19 "Add a funding page"
Include information on sponsorship tiers.

[2019-08-28 09:19] mr-c opened #23 "add link to big list of WFMs"
https://s.apache.org/existing-workflow-systems

[2019-10-04 19:45] kaushik-work opened #24 "Formatting issue on https://www.commonwl.org/v1.1/Workflow.html"
Sub headings e.g. https://www.commonwl.org/v1.1/Workflow.html#CommandInputRecordField have wrong font/formatting. Thanks!

[2020-07-21 08:04] mr-c opened #28 "request for feedback floating button on every page"
Where does the feedback go? Who can see it?

[2020-08-04 15:10] illusional opened #30 "Python CWLGen + CWLUtils"
I noticed CWL-utils is in the utility section on the website, but it might be useful to also add it to the generators section as we generate pretty decent parsers + codegen.

Also, Python CWLGen has been deprecated (and archived), should we remove this from the list, or mark it deprecated in some way.

[2020-08-04 16:02] #30 closed

[2020-10-01 22:18] swzCuroverse commented on #1
@mr-c can you give me some more information about what should go here?

[2020-10-01 22:21] swzCuroverse commented on #19
@mr-c do you have a write-up somewhere of sponsorship tier info?

[2020-10-02 06:29] mr-c commented on #19
The sponsorship tiers proposal is at https://docs.google.com/document/d/1L8bm0gcOrLoYbOHHQCHOOS_xkAu8q9X_WPp2rxqEYOw/edit but it has yet to be approved by the CWL Leadership Team, so skip that for now

Current funding options are: https://github.com/common-workflow-language/governance#donations https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Z55VS5LBBSZTJ

[2020-10-02 06:31] mr-c commented on #1
Like https://docs.google.com/presentation/d/1CqrimuWb8BiMe39BzTmAlAzycI5Zd4Ttl-OwAkM-3D4/edit#slide=id.g704f93e16c_0_219 but more entries + links for more information

[2020-10-02 11:37] swzCuroverse commented on #1
great thanks!

[2020-10-07 12:22] swzCuroverse opened #33 "Website Refresh to Reflect Personas and Other General Updates"
Do a general refresh of the main website to reflect persona work in these repos:
https://github.com/common-workflow-language/for_novices
https://github.com/common-workflow-language/for_novices

includes content, look, organization and navigation

This work can be funded by the EOSS CZI grant that Curii received.
I will work on this and then will work on a plan (early and often) of getting feedback

[2020-10-07 12:24] swzCuroverse commented on #33
Part of the work funded by this funded grant --

https://zenodo.org/record/4066736#.X32zU3VKjk2

[2020-10-22 07:18] mr-c opened #34 "list the standing meeting times"
EMEA-Americas: every Tuesday at 14:30 UTC

APAC: the second Tuesday of every month at 01:00 UTC

[2020-10-23 22:52] illusional commented on #34
Yep! This looks good to me :)

[2020-10-26 14:28] mr-c opened #35 "clarify the type of workflows CWL is for"
https://gitter.im/common-workflow-language/common-workflow-language?at=5f96dc6c57fe0a4f30359951

https://gitter.im/common-workflow-language/common-workflow-language?at=5f96099beb82301c1a4c348a

[2020-10-30 19:52] lunacodes opened #37 "Convert CWL website to Jekyll"
Convert [commonwl.org](commonwl.org) to run off [Jekyll](https://jekyllrb.com), in order to facilitate a more straightforward future editing process. This will only affect the main site, and not the user documentation, at present.

- [x] Rewrite site to utilize RWD (Responsive Web Design)
- [x] Evaluate the site's [WCAG Web Accesibility Guidelines](https://www.w3.org/WAI/standards-guidelines/wcag/

[2020-10-30 19:54] lunacodes opened #38 "Add Custom Video Player & Twitter Feed"
Add Custom Video Player & Twitter Feed

Implement custom video player and Twitter feed, in order to avoid YouTube and Twitter's automatic tracking

- [x] Replace embedded YouTube player with a custom video player
- [x] Add subtitles and captions for video
- [x] Create custom Twitter Feed

[2020-11-04 17:42] swzCuroverse opened #39 "Add Mission Statement and Vision"

[2020-12-14 11:38] mr-c opened #45 "solicit and list user success stories"
Example: https://cesium.com/blog/categories/userstories/

[2021-02-18 08:23] mr-c opened #49 "README needs to explain how this repo works"
And how to edit the site

[2021-02-18 08:24] mr-c commented on #37
Woo-hoo! Thank you @lunacodes !

[2021-02-18 08:24] #37 closed

[2021-02-18 08:25] mr-c opened #50 "Update CWL conference blurb"
Use past tense, remove link to sign up form, link to the category on discourse

[2021-02-18 08:25] #38 closed

[2021-03-09 06:40] mr-c opened #51 "CWL Advistors: Sasha is listed twice"
https://www.commonwl.org/cwl-staging/#CWL_Advisors

[2021-03-09 06:43] mr-c opened #53 "CWL Leadership Team: missing text from old website"
Here is the old text, that should replace `(alphabetical)` under https://www.commonwl.org/cwl-staging/#CWL_Leadership_Team

[2021-03-09 23:29] lunacodes opened #54 "Nav links incorrectly output to staging site"
All nav links using `{{ site.url }}{{ site.baseurl}}` are outputting as `https://www.commonwl.org/cwl-staging/`. Need to adjust `_config.yml` and `_config_local.yml`

[2021-03-10 01:24] lunacodes opened #55 "Staging site needs to parse _config_staging.yml"
The `add-jekyll-site` branch needs to parse both `_config.yml` and `_config_staging.yml`, in order for the staging site to properly function as a staging site. I didn't want to touch the Jenkins build config, but the respective terminal command would be `bundle exec jekyll build --config "_config.yml,_config_staging.yml"`.

This is largely why #54 (incorrect nav links issue) came up.

@tetron @mr-

[2021-03-11 08:08] mr-c opened #57 "CI: syntax check , render preview"

[2021-03-11 08:17] #51 closed

[2021-03-11 08:17] #53 closed

[2021-03-11 08:17] #54 closed

[2021-03-11 21:32] lunacodes commented on #55
Note: I renamed `_config_local.yml` to `_config_staging.yml` in the most recent push to `add-jekyll-site`

[2021-03-11 22:21] lunacodes commented on #49
I started a new branch for this - any feedback, requests, etc, is appreciated, and I'll merge it to `add-jekyll-site` when done!

[2021-03-11 22:32] lunacodes opened #58 "Links hrefs to anchors need to use _relative_url"
Link hrefs to anchors need to use `_relative_url` so they work properly, regardless of environment (staging, production, local, etc).

e.g.: `[CWL leadership team]({{ site.url }}/#Leadership_Team)` should be `[CWL leadership team]({{ "#Leadership_Team" | relative_url }})`

[2021-03-15 19:07] megha070 commented on #58
@lunacodes Are you working on this? If not could you please assign this to me. Would like to take this up.

[2021-03-25 22:13] tetron commented on #55
Fixed in e76a89f8f882de084769180bebf3ade6cb4592b4 and updated jenkins

[2021-03-25 22:13] #55 closed

[2021-03-25 22:18] tetron commented on #58
@megha070 thank you for the offer to help, I believe @lunacodes is working on this as part of a larger redesign of the site.

[2021-04-07 14:07] mr-c commented on #49
Thank you @lunacodes ; can you open a draft pull request? That makes it a lot easer for me and others to leave comments.

[2021-04-12 09:23] #50 closed

[2021-04-13 16:40] swzCuroverse opened #60 "Add page addressing CWL & FAIR principals"
Add a page to address how to use CWL with FAIR principals:

https://www.go-fair.org/fair-principles/

Some suggestion topics include:
* RO-Crate ( https://doi.org/10.5281/zenodo.4671709 )
* I believe @mr-c also has a document spelling this out from a more technical perspective he could link here

[2021-04-13 16:44] swzCuroverse commented on #60
Working document here in Google Docs:  https://docs.google.com/document/d/12Uj04O5DeT5YeTfTrNCkUak3P-PrevokWpCLhMszbQM/edit?usp=sharing

Everyone should have commenting permission,  I gave editing permission to @mr-c , @stain , @lunacodes and @tetron.  Let me know if you need editing permission.

[2021-04-13 20:33] lunacodes commented on #49
@mr-c done: https://github.com/common-workflow-language/cwl-website/pull/61

[2021-04-13 20:36] lunacodes commented on #34
@mr-c where are these supposed to go? Are they links, or just the plain text above?

[2021-04-14 07:59] mr-c commented on #60
@swzCuroverse  I dumped my "CWL & the 17 FAIR principles" text in your document

[2021-04-21 18:36] swzCuroverse commented on #33
Here is the current document where I have a basic template outlined and new organization of existing content.  Content needs to be expanded and in some cases rewritten or expanded.
https://docs.google.com/document/d/1OazgCXC-dXyKB3QOUg2z9BBI4VP3V8pzFEeNLm6QLSw/edit?usp=sharing

[2021-04-21 19:04] swzCuroverse commented on #1
2014 Bioinformatics Open Source Conference CodeFest:
4 software engineers & a whiteboard
2015: CWL “draft-2” version, commercial vendor (SBG) releases product in December.
2016: CWL v1.0 released
2017: CWL v1.0.1 and v1.0.2 released.
	Now 4 public implementations
2018: IBM released their CWL implementation for LSF.
2019: CWL v1.1 released
2020: CWL v1.2 released with workflow conditionals, work on

[2021-04-22 14:15] mr-c opened #63 "Mobile Usability issue: Text too small to read"
Example: https://www.commonwl.org/v1.2/Workflow.html

https://search.google.com/search-console/mobile-usability/drilldown?resource_id=sc-domain%3Acommonwl.org&item_key=CAw&hl=en-DE&sharing_key=9hp-Lpk2kPlWirr-KJFnGg

[2021-04-22 14:16] mr-c opened #64 "Mobile Usability issue: Clickable elements too close together"
https://search.google.com/search-console/mobile-usability/drilldown?resource_id=sc-domain%3Acommonwl.org&item_key=CAs&hl=en-DE&sharing_key=eB0gUJRGM5X49nZJtLxbig

Example: https://www.commonwl.org/v1.2/Workflow.html

[2021-04-22 14:17] mr-c opened #65 "Mobile Usability issue: Content wider than screen"
Example: https://www.commonwl.org/v1.2/Workflow.html

https://search.google.com/search-console/mobile-usability/drilldown?resource_id=sc-domain%3Acommonwl.org&item_key=CAk&hl=en-DE&sharing_key=TDNaQle_OJJgQK833IaDxw

[2021-04-22 14:21] mr-c opened #66 "Image elements do not have explicit width and height"
/CWL-Logo-Header.png

…common-workflow-language/common-workflow-language.svg

…img/twitter.svg

https://web.dev/optimize-cls/#images-without-dimensions

[2021-04-22 14:22] mr-c opened #67 "Remove unused JavaScript"
URL | Transfer Size | Potential Savings
-- | -- | --
/widgets/widget_iframe.63899b1….html?origin=…(platform.twitter.com) | 103.3 KiB | 99.8 KiB
…js/jquery-3.5.1.min.js(www.commonwl.org) | 31.1 KiB | 21.8 KiB

https://web.dev/unused-javascript/

[2021-04-30 23:25] lunacodes commented on #67
I'm pretty sure that Bootstrap actually uses the jQuery - specifically for the mobile menu. I can double-check it next week.

Not really anything we can do about the Twitter script, afaict.

[2021-04-30 23:32] lunacodes commented on #65
This is mostly caused by links not having the `word-break` property set in the CSS. It's an easy fix.  It looks like the rest of the issue is being caused by something with the tables.

[2021-05-03 20:41] lunacodes commented on #65
@mr-c I can add a stylesheet with the fixes for this, if you want. Just let me know.

[2021-05-03 20:47] lunacodes commented on #67
@mr-c I checked, and Bootstrap does in fact need the jQuery to run. It returns the following error message, if I remove it:

[code]

I'm gonna close this, since both scripts are actually being used.

[2021-05-03 20:47] #67 closed

[2021-05-03 20:57] lunacodes commented on #64
@mr-c  This is most likely being caused by the body's `font-size: 14px`. On the main site, we fixed it by upping it to `font-size: 0.9375rem` (15px). It's possible the table `line-height: 1.42857143` (example: [4. Workflow -> Extensions ->](https://www.commonwl.org/v1.2/Workflow.html#Extensions) table. On the main site, we have it at `line-height: 1.43`, but I think it needs to be at least 1.5 (I'

[2021-05-03 21:00] lunacodes commented on #63
Similar to #64 - This is most likely being caused by the body's `font-size: 14px`. On the main site, we fixed it by upping it to `font-size: 0.9375rem` (15px).

[2021-05-03 21:16] mr-c commented on #64
Yes, please!

[2021-05-03 21:17] mr-c commented on #65
Yes, please!

[2021-05-04 05:53] #66 closed

[2021-05-10 09:01] mr-c commented on #39
Done in #62 ; thank you @swzCuroverse for leading this!

[2021-05-10 09:01] #39 closed

[2021-05-10 09:24] mr-c opened #71 "Downloading jekyll-4.1.1 revealed dependencies not in the API or the lockfile"
11:22:55 AM: Downloading jekyll-4.1.1 revealed dependencies not in the API or the lockfile
11:22:55 AM: (kramdown (~> 2.1)).
11:22:55 AM: Either installing with `--full-index` or running `bundle update jekyll` should
11:22:55 AM: fix the problem.

[2021-05-10 13:45] mr-c commented on #57
I tried setting up netlify, but I ran into https://github.com/common-workflow-language/cwl-website/issues/71

[2021-05-12 11:20] mr-c commented on #71
` bundle update jekyll ` worked locally, but I can't give netlify more than one command to run. I'll try editing the `Gemfile.lock` in the way you suggested..

[2021-05-12 11:22] mr-c commented on #71
Maybe it was this other hard-coded version number:

https://github.com/common-workflow-language/cwl-website/pull/73/files#diff-d9ad86bcc3f11392e0f2c6ee2db66c00c2c09b627985bacb63fb802b2a2b5804L47

[2021-06-02 20:19] #65 closed

[2021-06-02 20:21] #63 closed

[2021-06-02 20:21] #64 closed

[2021-06-02 20:22] #71 closed

[2021-08-23 11:06] mr-c opened #77 "link to bioexcel analysis of CWL implementations"
"See also the analysis of CWL Implementations by the BioExcel Center of Excellence."

https://docs.bioexcel.eu/cwl-engine-guide/about.html#summary-of-engines

To be added below the "Partial Implementations" table

[2021-08-23 11:44] #77 closed

[2021-09-16 11:22] mr-c opened #79 "linkchecker needs to take into account actual root location; add ignore list; and break the build if a link is broken"
@lunacodes can you open a PR to fix these soonish?
https://github.com/common-workflow-language/common-workflow-language.github.io/blob/21704381d24d5774a12deab9503fc4541c87ea66/linkchecker-report.txt

@tetron can you configure the website build to fail if there are broken links?

[2021-09-17 19:30] lunacodes commented on #79
@mr-c I think there's something wrong with the link checker tool. If those things were broken, the entire page would appear really messed up. It appears what's happening is that the tool is not picking up the fact that the file path for all these things is under `/content/`. So it's looking for e.g. `/assets/js/bootstrap.min.js` without understanding that the file path (not url) is actually `/cont

[2021-09-17 19:38] lunacodes commented on #79
Broken Link in [Code Libraries](https://www.commonwl.org/#Code_libraries) section of homepage:

Ln. 64 of `_includes/home/software-for-working-with-cwl.html` currently reads:
`|[cwltool](https://github.com/common-workflow-language/cwltool)|cwltool (can be [imported as a Python module](https://www.commonwl.org/(https://github.com/common-workflow-language/cwltool#import-as-a-module)) and [extended t

[2021-09-18 11:32] mr-c commented on #79
Thanks @lunacodes for the analaysis! @tetron can you configure the linkchecker to take this other root path into consideration?

[2021-12-21 16:20] mr-c commented on #79
I fixed the link checker, and some broken links, in https://github.com/common-workflow-language/cwl-website/pull/86

[2021-12-21 16:20] #79 closed

[2022-01-27 17:36] melibleq opened #89 "Suggested fixes for the website"
Hi everyone. These are some things that I can't suggest directly as code changes.

- Should all links open in a new tab?
- On https://github.com/common-workflow-language/cwl-website/edit/new-site/content/_data/home.yml, the image in `- icon: noun_ecosystem_cycle_3389565.png` is going a bit over the word "reproducibility". That happened in Brave browser (Chromium-based) and Firefox on my Linux lapt

[2022-01-27 17:44] swzCuroverse commented on #89
On https://github.com/common-workflow-language/cwl-website/edit/new-site/content/_data/home.yml, the image in - icon: noun_ecosystem_cycle_3389565.png is going a bit over the word "reproducibility". That happened in Brave browser (Chromium-based) and Firefox on my Linux laptop. --- this doesn't happen in my Firefox could you give the resolution so we can debug it?

[2022-01-27 17:46] swzCuroverse commented on #89
Whenever there were lists (of contributors, participants, advisors), I removed commas and semicolons after their names in my commits ---> can you give me a link to this, I don't see in PR

[2022-01-27 17:47] mr-c commented on #89
No

Not really, no

The website will be published to https://www.commonwl.org ; https://www.commonwl.org/user_guide is already published

[2022-01-27 17:47] swzCuroverse commented on #89
Should https://deploy-preview-75--cwl-website.netlify.app/assets/img/cwlportable.png say "FOSS" instead of "F/OSS"? --> I tool that directly from the paper.  So Michael would have to determine.

[2022-01-27 18:30] melibleq commented on #89
My laptop screen is 1366 x 768 px, the browser screen is 1366 x 673 px

[2022-01-27 18:32] melibleq commented on #89
It was on community.md and governance.md

[2022-01-27 18:34] melibleq commented on #89
My review is now at https://github.com/common-workflow-language/cwl-website/pull/75#pullrequestreview-865249262

[2022-01-27 21:04] melibleq commented on #89
And for Firefox, 1366 x 622 px

[2022-01-27 21:43] lunacodes commented on #89
@melibleq I just pushed a potential fix. Can you let me know if it's back to normal now? I haven't been able to replicate it on my end so far (I tried a couple of different browser and device combinations)

[2022-01-28 14:08] melibleq commented on #89
No, the problem persists :( separately, it looks fine in Firefox Focus on my Android phone

[2022-01-31 22:26] lunacodes commented on #89
This should be fixed now. The issue was that their was a set `height` property, that needed to be changed to `min-height`. @melibleq can you confirm if it's fixed for you?

[2022-02-01 17:10] melibleq commented on #89
Yes it is, yay! However, now there's an issue with the font scaling - see below, "interoperability" and "reproducibility".

It happens with 100% zoom in both browsers I mentioned earlier (Brave and Firefox, laptop) but it looks fine when I zoom out. Also fine in Firefox Focus - Android.

![image](https://user-images.githubusercontent.com/16723182/152015606-43534fe3-b676-481b-b8c0-e14f7e010dbe.png)

[2022-02-02 01:34] swzCuroverse commented on #89
I am seeing the same thing with one of those - but not both.

[2022-02-02 22:32] lunacodes commented on #89
@melibleq @swzCuroverse I decreased the font size, and changed the word-break behavior. Can you let me know if you're still seeing the issue?

[2022-02-02 23:55] melibleq commented on #89
It looks perfect now! Thank you!

[2022-02-10 09:55] #57 closed

[2022-02-10 13:50] swzCuroverse opened #93 "New website changes based on feedback"
@tetron had some changes that he suggested that I thought would be good to incorporate into the draft before we get feedback from the larger group.   Maybe @lunacodes can do these?

This is the list, I believe.  @tetron can verify :)

- [x] * Convert both the banner and the boxes on the main page to be clickable links (the whole graphic) instead of having it have a blue hyperlink inside.  The bann

[2022-02-10 13:57] tetron commented on #93
One my major suggestions was to put a maximum width on the text, at least for the text-heavy pages like "Getting started".

[2022-02-10 14:33] lunacodes commented on #93
Some additional questions:

For the boxes: currently the title & icon are clickable links. It's tricky to make the entire box clickable, due to the way Jekyll processes markdown & html. But I can make it happen, if the current setup isn't enough.

Is Bioinformatics the same as the "Life Sciences" section? Is this the correct order?

* Life Sciences
* Geospatial
* Hydrology
* Radio Astronomy
* Cros

[2022-02-10 15:31] swzCuroverse commented on #93
They used to be all on the Governance place - and Michael wanted me to move them to Community which we thought looked odd.

[2022-02-10 20:00] lunacodes commented on #93
Ok, I'm testing out a few different content area widths. I tried out different max-widths for screens larger than 992px. (We're not necessarily locked into these percentages, I was just sticking with Bootstrap's column system)

11/12 columns (width: 91.66666667%)
* [Features](https://deploy-preview-75--cwl-website.netlify.app/features/)
* [Implementations](https://deploy-preview-75--cwl-website.ne

[2022-02-10 20:51] tetron commented on #93
I'd consider going even narrower for Specification, what does 9/12 and 8/12 look like?

[2022-02-10 23:02] lunacodes commented on #93
@tetron by any chance, could you post a screenshot of what the 10 column looks like for you? To be honest, anything lower than 10 columns seems a bit extreme to me, particularly in contrast to the rest of the site.

9 Columns:
![spec_9_cols](https://user-images.githubusercontent.com/10420402/153510571-e1596bcf-ff55-4275-8749-78545caaf581.png)

8 Columns:
![spec_8_cols](https://user-images.githubus

[2022-02-11 00:38] swzCuroverse commented on #93
Yes, I agree.  It looks off to me even if the current setting.  I can make a screen shot.

Some last things:
* Since we move the contributors to their own page - we need to change the link to them on the main page for Vendor Neutrality - and then we can remove the hyperlinked text in the boxes.   Similarly, I think we can to adjust the scale and paralleization links. I think everything else stills

[2022-02-11 16:19] tetron commented on #93
yea, 10 columns is fine

[2022-02-11 17:51] lunacodes commented on #93
So with the 10 columns, are we making all the pages on the site (besides the homepage and User Gallery) 10 columns? or just particular pages? If the latter, which ones?

@swzCuroverse some quick questions:

I'm confused - why are we only removing the hyperlinks for those 3 boxes? Particularly for Vendor Neutrality, since the two links go to different places (one to Participating Organizations, and

[2022-02-11 18:01] swzCuroverse commented on #93
* We should remove them for all the boxes -- that was poor wording.   For vendor neutrality - both those links now are on the Contributors page so I think if I icon and box label goes there that would be fine.

* Yes, FDA looks good now

* This would be my preferred order:
*
    Benefits of Workflows and Standards
        Why Use Workfows?
        Why Use a Standard?
        When to Use CWL?
    R

[2022-02-11 21:06] lunacodes commented on #93
I finished up all the changes, but still need to figure out the User Gallery bug,

10 columns: I changed Specification and Features to the 10 column layout. Are there other pages that should use it, or is that it?

Also I noticed that `governance.md` contains `CWL is a member project of the Software Freedom Conservancy. In general, [discussions about CWL should happen on open forums](https://www.c

[2022-02-11 21:56] swzCuroverse commented on #93
Thanks Luna - so I think that should probably go to ---> https://deploy-preview-75--cwl-website.netlify.app/community/

@tetron any other pages need this?

Also - I noticed there is something funky with the ep3 badge here, I think @mr-c fixed in the live version of the old cwl site.  https://deploy-preview-75--cwl-website.netlify.app/implementations/

[2022-02-11 22:00] swzCuroverse commented on #93
Parallelization and Scale [§](https://deploy-preview-75--cwl-website.netlify.app/features/#parallelization-and-scale)  --- should probably say Parallelization and Scale with CWL and be in red to have it look like the Reusability and Reproduciblity with CWL header.

[2022-02-11 22:50] mr-c commented on #93
The following implementations can be removed from the list: Consonance, AWE, yacle, Cromwell, CWLexec

[2022-02-13 01:48] lunacodes commented on #93
I made the rest of the changes. As for the columns:

I agree. Though, it looked weirder to leave the header text in its original place.

![Specification - with original header text position](https://user-images.githubusercontent.com/10420402/153734265-2ed8a265-5cf4-497e-83af-a6208f0ad8d4.png)
<br>
One possibility would be moving everything to 10 columns. Here's what that would look like, for some

[2022-02-13 22:42] swzCuroverse commented on #93
@lunacodes  -- I am torn but I guess let's try 10 and see what people link?  Also, I think the last outstanding thing is the FDA issue, or did that get fixed?  @tetron once Luna is done with this last fix - I think we can declare the new website ready for review for the leadership team.

[2022-02-13 22:46] swzCuroverse commented on #93
Oh Sorry - one more small this is the link the DNA Nexus seems now to be now formatted correctly [DNAnexus](https://www.dnanexus.com/ -->  In the implementations section.  I think that is it :)

[2022-02-13 23:08] lunacodes commented on #93
Ok I'll give the 10 columns a try.

The FDA issue still needs to be worked out. I'll take a look at the Implementations entry when I have a moment.

[2022-02-14 03:27] swzCuroverse commented on #93
Thanks Luna - if you can't figure it out in a few days- we can always send it out for review with a note saying that is going to be resolved.

[2022-02-16 22:55] tetron commented on #93
I made a pass over it, I'll send out a note saying it is ready to review tomorrow morning.

[2022-02-17 00:27] lunacodes commented on #93
Awesome. Fixed the FDA Bug :)

[2022-02-17 02:05] swzCuroverse commented on #93
I don't know if this is a function of the new indenting but the top navigation seems to move and be located in a slightly different place for some of the different pages.   For Example if I go from User Gallery and Getting Started the top nav entries move.

[2022-02-17 02:09] lunacodes commented on #93
@swzCuroverse I noticed that. It's a result of the new indenting. I'm working on fixing it up tonight

[2022-02-17 06:36] lunacodes commented on #93
I misspoke earlier, the nav positioning is actually due to the lack of a scrollbar on the pages with short content. Additionally, with the new indentations, the content area was also shifting. As far as I can tell, both of these were an issue on Chrome & Firefox specifically, and should now be fixed.

[2022-02-19 14:43] geoffjentry commented on #93
👍

[2022-02-20 01:22] #93 closed

[2022-02-20 01:23] #58 closed

[2022-02-21 21:43] lunacodes commented on #89
It seems like everything from this Issue was resolved, so I'm going to close it.

[2022-02-21 21:43] #89 closed

[2022-02-22 02:42] #49 closed

[2022-02-23 08:20] hmenager commented on #93
Great work, thumbs up!

Minor typo, "Portablity->Portability" [here](https://github.com/common-workflow-language/cwl-website/blame/new-site/content/features.md#L37)

[2022-02-23 17:42] swzCuroverse commented on #35
This has been done by @lunacodes in the new version of the website.  @mr-c and @lunacodes are you OK with closing this out?

https://deploy-preview-75--cwl-website.netlify.app/features/

[2022-02-23 17:42] swzCuroverse commented on #45
This isn't quite there - but we do have the user gallery now.  Should we keep this ticket open , @mr-c  and @lunacodes ?

[2022-02-23 17:43] swzCuroverse commented on #60
I believe Michael decided this was better served as a blog post or other format than directly on the website.  Can we close this out for now , @mr-c and @lunacodes ?

[2022-02-23 17:44] swzCuroverse commented on #1
This is in the new version of the website -- Can we close this out, @mr-c and @lunacodes ?

[2022-02-23 17:44] swzCuroverse commented on #33
This has been done in the new version of the website.  Can we close this out @lunacodes and @mr-c ?

[2022-02-23 17:45] #19 closed

[2022-02-23 17:45] mr-c commented on #19
Thanks!

[2022-02-23 17:46] swzCuroverse commented on #34
Do we still need to add this onto the latest CWL draft page?I believe we only have " f you would like to receive Google Calendar invites for the CWL weekly video chat, sign up at https://groups.google.com/g/common-workflow-language-videochat-invites." @tetron or @mr-c  could you follow up with @lunacodes so we can get what you want on the page?

[2022-02-23 17:47] swzCuroverse commented on #24
Is this something @lunacodes can help with or is it in the script for porting the standards to the website that @tetron controls?

[2022-02-23 17:48] #1 closed

[2022-02-23 17:48] swzCuroverse commented on #28
Do we want this only on the standards?  I believe we discussed that it would be too much on the website itself?  Can @lunacodes help with this or does it need to be handled by @tetron since it is on the standards part of the website?

[2022-02-23 17:48] mr-c commented on #1
Thanks!

[2022-02-23 17:48] #35 closed

[2022-02-23 17:49] #33 closed

[2022-02-23 17:50] swzCuroverse commented on #23
Should this go in the text about "Why Standards" ---> https://deploy-preview-75--cwl-website.netlify.app/features/

We could add a hyper link to -> "very popular", unless we want some more text around it....
@mr-c and @lunacodes

[2022-02-23 18:00] swzCuroverse opened #94 "Minor edits on the new draft of the website"
These are minor edits - and do not need to prevent the website from going live, but I just wanted to list them here for @lunacodes.
* For the development tools page:
** you probably don't need the extra development tools header. https://deploy-preview-75--cwl-website.netlify.app/tools/
** capitalize every description in the unless it is lowercase because of the tool name, e.g. cwltool
* For the im

[2022-02-23 18:03] mr-c commented on #24
This is a schema-salad issue, not a @lunacodes issue. Thanks for checking, @swzCuroverse

[2022-02-23 18:04] mr-c commented on #28
This is low priority for me.

[2022-02-23 19:31] lunacodes opened #95 "Update and/or Merge README files"
The main`./README.md` and `/content/README.md` have redundant, but mismatched content. To-Dos need to be cleaned up and/or moved to GitHub Issues.

[2022-02-23 20:28] lunacodes commented on #94
@swzCuroverse just finished up the revisions here.

In `tools.md`: Can I add the following description for CWL for Go: "A parser of [CWL](https://github.com/common-workflow-language/common-workflow-language) file and input files based on CWL" (also should it be CWL file or files)

Re: the Mini Gallery - I think it looks ok as is, and would prefer not to center them, since the logos won't line up p

[2022-02-24 12:53] mr-c commented on #34
In addition to that I would add:

There is not an APAC meeting anymore

[2022-02-25 14:53] mr-c opened #96 "new notable user: ACROSS"
name: The ACROSS European Project
logo: https://www.acrossproject.eu/wp/wp-content/uploads/2021/03/ACROSS_Logo_107x28.jpg
website: https://www.acrossproject.eu/
section: Cross-Domain

(via https://github.com/common-workflow-language/common-workflow-language/wiki/Notable-CWL-mentions%2C-adoption%2C-and-users/#the-across-european-project )

[2022-02-25 14:53] #60 closed

[2022-02-26 13:09] swzCuroverse commented on #96
We need a description.

[2022-02-27 14:05] mr-c commented on #96
The ACROSS project is an European High-Performance Computing Joint Undertaking that will co-design and develop an HPC, BD, and Artificial Intelligence (AI) convergent platform, supporting applications in the **Aeronautics**, **Climate and Weather**, and **Energy** domains. The project will leverage effective mechanisms to easily describe and manage complex workflows and monitoring running systems

[2022-03-01 05:11] lunacodes commented on #34
@mr-c I'm still confused about what page/location these are supposed to go under

[2022-03-01 05:34] lunacodes commented on #96
Added

[2022-03-01 05:41] lunacodes commented on #93
@hmenager thanks for catching the typo!

@suryasaha thanks - that's a function of the staging site. It works properly, when it's deployed.

[2022-03-01 05:47] lunacodes commented on #23
Ok - I turned "very popular" into the link for this.

[2022-03-01 05:47] #23 closed

[2022-03-01 05:50] lunacodes commented on #94
@swzCuroverse just wanna check if you saw my comment here.

[2022-03-01 09:15] mr-c commented on #34
@lunacodes on the community page.

Speaking of which, can you swap all mentions of Gitter for Matrix using  https://matrix.to/#/#common-workflow-language_common-workflow-language:gitter.im  as the target and use the Matrix logo in the header?

[2022-03-02 18:02] tetron opened #98 "linkchecker errors"
LinkChecker 10.0.1
Copyright (C) 2000-2016 Bastian Kleineidam, 2010-2021 LinkChecker Authors
LinkChecker comes with ABSOLUTELY NO WARRANTY!
This is free software, and you are welcome to redistribute it under
certain conditions. Look at the file `LICENSE' within this distribution.
Get the newest version at https://linkchecker.github.io/linkchecker/
Write comments and bugs to https://github.com/link

[2022-03-02 19:45] tetron opened #99 "invalid HTML on the front page"
On the front page, using Firefox "view source" it is highlighting invalid HTML:

line 69: there is a dangling `</nav>` but there is no opening `<nav>`

the features grid has nested anchors (a `<a>` inside another `<a>`)
this seems to be due to using `<h3>` for the box titles, it is inserting `<a href="#open-and-free" class="heading__anchor-symbol">§</a>`
it probably shouldn't use `<h3>`, just a di

[2022-03-03 02:56] bdusenbery commented on #93
Looks great! Good to go from me.

[2022-03-03 10:39] mr-c opened #101 "elixir logo"
Has black background on main page.

![Screenshot_20220303-113934](https://user-images.githubusercontent.com/1330696/156548551-f7e7affe-fa85-4802-a4d8-dd514d44b9b4.png)

Missing elements in the gallery Page
![Screenshot_20220303-114043](https://user-images.githubusercontent.com/1330696/156548785-3b0b8668-fadc-4eff-bfed-589bc4e50da0.png)

@stain suggest using https://www.dropbox.com/s/1visx657xh1pmm

[2022-03-03 11:20] mr-c commented on #101
Oh, a PR to the main branch is the normal method. I don't know about that branch.

[2022-03-03 11:33] stain commented on #93
Thanks for this wonderful work, and glad to see this deployed!

[2022-03-04 02:28] tom-tan opened #103 "No link to Common Workflow Language Lab"
It would be nice if there is a link to [Common Workflow Language Lab](https://github.com/common-workflow-lab).
It is very helpful but currently I cannot find a link to CWL Lab from the official website.

[2022-03-04 08:50] mr-c commented on #103
@tom-tan That's a good idea, thank you! On which page and in which section would you expect to find it?

[2022-03-04 09:28] tom-tan commented on #103
IMO [Development Tools](https://www.commonwl.org/tools/) page is an appropriate place for it.
For example, we can add a sentence as follows:
[code]

[2022-03-04 09:32] GlassOfWhiskey commented on #96
Hello,
It is fine to point at the CORDIS site throug the G.A. number, but could you point to the official ACROSS website from the first link?
I mean, substituting

[HPC Big Data Artificial Intelligence Cross Stack Platform Towards Exascale](https://cordis.europa.eu/project/id/955648)

with

[HPC Big Data Artificial Intelligence Cross Stack Platform Towards Exascale](https://www.acrossproject.eu/)

[2022-03-04 21:25] lunacodes commented on #101
@stain `add-jekyll-site` branch was from when we re-coded the old site into Jekyll. It shouldn't be used at this point. Sorry any confusion.

`staging` was being used for the deploy preview at the time, which output to https://www.commonwl.org/cwl-staging/ (Note: it's not working with the new site yet). Since netlify auto-generates the deploy previews, I'm not sure that we still need it.

@mr-c le

[2022-03-04 22:02] mr-c commented on #101
Yeah, I don't think we need the staging branch anymore.  Thanks for the explanation!

[2022-03-05 06:12] #103 closed

[2022-03-07 11:45] #96 closed

[2022-03-08 13:05] mr-c opened #107 "bottom of users gallery: add instructions on how to request an addition"
We can make an issue template here. I think that would be the easiest way

[2022-03-08 17:15] swzCuroverse commented on #101
@lunacodes might want to comment on this.  I think in general a staging branch is nice to double check everything looks good before you push to the live site.  I wouldn't change it until Luna can verify that is the proper process?

[2022-03-08 17:21] swzCuroverse commented on #101
I think the staging is nice for people to check that it appears as they would think before pushing to the main site. But that is just my inclination.

[2022-03-08 18:15] mr-c commented on #94
FYI, I already fixed the description of "CWL for Go" in https://github.com/common-workflow-language/cwl-website/commit/232cd0122ef828e70a424fb8e033d22206d52ca1

[2022-03-08 21:06] #94 closed

[2022-03-18 11:34] mr-c opened #112 "Documenting the CWL Technical Team"
- [x] Need to create a new section under https://www.commonwl.org/governance/ named "CWL Technical Team"
        The team is initially responsible for approving new versions of the CWL standards before that proposal goes to the CWL Leadership Team for the final vote.
- [x] Collect ORCIDs as well

Confirmed members who have consented to being listed:

- Name: Iacopo Colonnelli
  Affiliation: Univer

[2022-03-18 13:02] #101 closed

[2022-03-18 21:33] lunacodes commented on #107
I see that you made the [issue template](https://github.com/common-workflow-language/cwl-website/blob/main/.github/ISSUE_TEMPLATE/user-gallery-nomination.md). I'll add a mention of it to the README.md (which I'm working on currently), this coming week.

[2022-03-20 17:40] swzCuroverse opened #114 "SEO for website?"
@lunacodes looks like when I google cwl, cwl workflow or common workflow language - we don't really get hits on the main website - we get mostly links to the standards or the user guide.  The standards have a link back to the main page but the user guide doesn't.  Any ideas on how to make the website show up better in google searches?  Thanks!  Also is it possible to make a link back to the main p

[2022-03-20 22:14] lunacodes commented on #114
@swzCuroverse thanks for bringing this up. The live site's improperly generating the `<meta name="robots" content="noindex" />`. I just pushed a fix for it. Whoever has access to the site in [Google Search Console](https://search.google.com/search-console/) should tell google to re-crawl the page now. (otherwise, Google does it periodically - but no idea when that will be).

I could add that. Woul

[2022-03-21 08:44] #114 closed

[2022-03-21 08:56] mr-c commented on #114
I merged @lunacodes fix and requested a new crawl of the main page. Thanks!

[2022-03-21 12:52] swzCuroverse commented on #114
Thank you @mr-c and @lunacodes

[2022-03-22 01:44] DailyDreaming commented on #112
@mr-c I consent to being listed.

[2022-03-22 11:12] mr-c commented on #112
Thanks! What is your Matrix username?

[2022-03-22 11:20] mr-c opened #118 "social icon hover text"
[code]

This title shows up as a hover text for this icon on Firefox (non-mobile), but none of the other icons have a hover text.

If there is to be a hover text, I would prefer it said "CWL Matrix Space"

YouTube: "CWL YouTube Channel"
Twitter: "CWL Twitter Account"
GitHub: "CWL GitHub Organization"
Discourse: "CWL Discourse Forum"

_Originally posted by @mr-c in https://github.com/common-workflo

[2022-03-22 11:23] #34 closed

[2022-03-22 13:34] tetron commented on #99
@lunacodes View source is still showing the dangling `</nav>` on line 80 on the live site

[2022-03-22 13:51] mr-c commented on #99
See also https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.commonwl.org%2F

[2022-03-23 22:08] DailyDreaming commented on #112
@mr-c It is:

```@dailydreaming:matrix.org```

[2022-03-23 22:09] DailyDreaming commented on #112
I just joined cwltool-dev.

[2022-03-24 00:28] lunacodes commented on #99
@tetron Hmm, so this is a bit of a false flag. The `<nav>` and `<div>` tags are all opened/closed in the correct order. The issue is that Jekyll's rendering doesn't maintain indentation when using an `{% include %}`. So the code's perfectly valid (HTML isn't whitespace-sensitive), it's just rendered sloppily b/c Jekyll is pushing it back to the beginning.

Is there any particular reason to look in

[2022-03-24 03:11] lunacodes opened #121 "Deploy Preview Builds generate urls pointing to commonwl.org"
I noticed with the most recent preview that nav and many other urls are pointing to `commonwl.org` instead of `https://deploy-preview-NUM--cwl-website.netlify.app/`

Attempting a fix for it.

[2022-03-24 07:26] mr-c commented on #99
@lunacodes thanks! Yeah, the w3c validator is quite picky. I wouldn't treat every error it throws as a huge problem, especially if things work. Glad it seems not too difficult to fix the parts it did complain about.

[2022-03-24 19:57] mr-c opened #123 "User Gallery Nomination: WorkflowHub"
**User or Project name.**
WorkflowHub

**Section to list under**
Cross-Domain

**Link (URL) to website**
https://www.workflowhub.eu

**Description**
WorkflowHub is a registry for describing, sharing and publishing scientific computational workflows.

The registry supports any workflow in its native repository.

WorkflowHub aims to facilitate discovery and re-use of workflows in an accessible and i

[2022-03-25 01:32] lunacodes commented on #95
@mr-c @swzCuroverse @kinow (or anyone else) I'd love feedback on this, if/when you have a moment. Particularly wondering if the structure makes sense, and if there's anything confusing, or anything that needs to be added.

Relevant Files:
* [Main README.md](https://github.com/common-workflow-language/cwl-website/blob/readme-rewrite-2022/README.md)
* [content/README.md](https://github.com/common-wo

[2022-03-25 01:40] kinow commented on #95
Hi @lunacodes !

I don't know if the `content/README.md` is necessary. IMO if there's anything there, that is missing from `README.md` then we should move it to the main `README.md` and delete `content/README.md`.

How to edit Jekyll files, how to use plug-ins, call macros, what to include in the YAML header, etc, can go to `content/EDITING.md`, IMO. That would simplify the `README.md`, and help o

[2022-03-25 02:56] lunacodes commented on #107
Note: This is being added in #125

[2022-03-25 12:58] swzCuroverse commented on #114
@lunacodes - it now shows up as the first hit on google!  thanks.

[2022-03-29 16:43] swzCuroverse opened #126 "Format off for Community Page"
The meeting details on the new community page are not formatted by like the rest of the page.
* https://www.commonwl.org/community/

In general: Perhaps we don't need this on the community page but a link to a new page since it swallows up the rest of the resources of which the page was intended.  We already have a mention of the weekly chat in the bullet points, so it is extra confusing.  Perhaps

[2022-03-29 20:41] lunacodes commented on #126
A few thoughts on the page, now that I'm looking at it again:

1. I think some of the image sizing & padding still needs a bit of work (I can take care of that)
2. Images need to have Alt Text (this should be added to the general Guidelines), for accessibility.
3. The "Agenda and notes" and "When" seem bit overkill as section headings, given the minimal content. Were they intended semantically to

[2022-03-30 12:49] swzCuroverse commented on #126
Hi Luna - I would suggest the following - make a new page for the Weekly Meetings and adjust that and have the text go back to the old text and adjusting the following text for the last bullet point:

* Please consider joining one of the weekly CWL Community Video Chats for discussion about community topics such as upcoming features, outstanding bugs, new CWL implementations or projects and commun

[2022-03-30 12:54] swzCuroverse commented on #126
Also started the document for Guidelines here:
https://docs.google.com/document/d/1uh18NImnHWCzibpluVpZ7lY2xmwk_VaSxD2-YyXzBQA/edit?usp=sharing

[2022-03-30 16:32] tetron opened #127 "Add link to this github repo from the rendered page"
From the main page, the user should be able to easily find this github repo.

[2022-03-30 16:37] tetron opened #128 "Add PR template with style checklist"
When making a PR, we can pre-populate it with a list of checklist of style and content guidelines.  e.g.

https://docs.google.com/document/d/1uh18NImnHWCzibpluVpZ7lY2xmwk_VaSxD2-YyXzBQA/edit?usp=sharing

[2022-03-31 17:38] #99 closed

[2022-03-31 21:01] lunacodes opened #132 "Nav Menu spacing above min-width:1330px is inconsistent"
The spacing varies, based on whether a page has `class: body-short` or not.

[2022-04-01 01:43] lunacodes commented on #126
@swzCuroverse Makes sense. I have a PR #131 with revised formatting already - so I'll add this there. I can name the new page `meetings.md` and put it as a dropdown under content, if that makes sense.

Just to clarify:

* Community: Bullet Points + Code of Conduct
* New page: CWL Online Meetings + Using Matrix

Is that correct?

[2022-04-01 12:46] mr-c commented on #127
I would prefer the site footer

[2022-04-15 10:29] mr-c commented on #112
This is done, except I never heard back from @johnbradley @michael-kotliar @pr80ik @audrium ; you are all still invited to join the CWL Technical Team! Please comment here or send a PR to add yourself to https://github.com/common-workflow-language/cwl-website/blob/main/content/governance.md

[2022-04-15 10:29] #112 closed

[2022-05-09 16:30] swzCuroverse commented on #126
Yes, thank you.

[2022-06-17 08:23] mr-c commented on #121
FYI: this is still happening

[2022-06-17 08:27] mr-c opened #136 ""Abstract CWL" either needs a definition in the spec, or a page on the website"
Probably both?

Thanks to @stain for pointing out this omission

[2022-06-17 08:40] mr-c commented on #136
I added this to the CWL v1.2.1 wish-list: https://github.com/common-workflow-language/cwl-v1.2/issues/54

[2022-06-29 11:00] ZimmerA opened #138 "User Gallery Nomination: DataPLANT"
**User or Project name.**
DataPLANT

**Section to list under**
Life Sciences

**Link (URL) to website**
https://nfdi4plants.org/

**Description**
Together with other disciplines, plant research increasingly relying on effective research data management services and infrastructures that facilitate the acquisition, archival, exchange, and processing of research data sets, to enable the exchange of i

[2022-06-30 15:01] stain commented on #138
Nice! Also added to https://www.researchobject.org/ro-crate/in-use/#dataplant

[2022-06-30 16:40] ZimmerA commented on #138
Awesome, thank you!

[2022-06-30 16:48] mr-c commented on #138
@ZimmerA if you have the time, you can speed up your entry appearing in the user gallery by following the instructions at https://github.com/common-workflow-language/cwl-website/blob/main/content/EDITING.md#user-galleryyml

[2022-07-02 09:13] #138 closed

[2022-08-03 20:21] #118 closed

[2022-08-08 14:56] mberacochea opened #143 "User Gallery Nomination: MGnify"
**User or Project name.**
MGnify

**Section to list under**
`Life Sciences`

**Link (URL) to website**
https://www.ebi.ac.uk/metagenomics/

**Description**
Microbiome research involves the study of all genomes present within a specific environment. The approach can provide unique insights into the complex processes performed by environmental micro-organisms and their relationship to their surround

[2022-09-05 20:37] swzCuroverse opened #144 "Limit the size of summary for User Gallery"
When I wrote the user gallery entrees for the initial release of the new user page - I made sure to keep the entries brief.  I have notices some of the new entries are quite large - making the large difficult to parse through.  Can we make a limit to the number of words that description of the project is allowed?

for ref: https://github.com/common-workflow-language/cwl-website/issues/138  --- is

[2022-09-20 12:25] swzCuroverse opened #146 "Need to put citation in About Drop Down Menu"
Michael  but a redirect from the exiting citation to [https://www.commonwl.org/about/#citation 3](https://www.commonwl.org/about/#citation) -- However this needs to be added to the drop down menu or noone will be able to fit it.

[2022-09-20 12:25] swzCuroverse commented on #146
Tagging @mr-c

[2022-09-21 14:54] Fienne opened #147 "Misspelled words on features section of website"
The heading "Why Use Workfows" is wrongly spelled on the website.
The word "inherient" on the second line of the second paragraph is wrongly spelled

![Group 1 (4)](https://user-images.githubusercontent.com/72187339/191538069-c5faf771-89d7-4568-8e71-3fce7751de48.png)

The issue can be found [here](https://www.commonwl.org/features/)

[2022-09-21 15:05] mr-c commented on #147
Thank you @Fienne !  A fix is coming

[2022-09-21 15:05] #147 closed

[2022-09-21 15:06] Fienne commented on #147
You're welcome @mr-c
I was working on it already

[2022-09-21 15:10] Fienne commented on #147
I will certainly do so.
Thank you for the advise!

[2022-10-08 22:24] Fienne opened #149 "Typo on features page of website"
On the second line of the second paragraph of the features page I think the word "inherient" was supposed to be "inherent". There is no word like "inherient".

![cwl_issue](https://user-images.githubusercontent.com/72187339/194729842-ba9bf049-4a54-45a1-986a-8391f5b9be4a.png)

[2022-10-08 22:26] Fienne commented on #149
Opening a PR in a bit!

[2022-10-08 23:06] #149 closed

[2022-10-24 15:09] mr-c opened #151 "spell out links to social sites"
Explicitly say "GitHub Organization" and a link, likewise for the rest of the icons

[2022-10-24 15:24] mr-c opened #152 "add link to the specs page as the last entry in the "getting started" page"
"The most comprehensive information about CWL is contained in the specifications, but it is the least friendly to newcomers"

[2022-10-31 21:00] fmigneault opened #153 "Duplicated CWL type definitions?"
When looking at the list of CWL type items, the "base" items (excluding `File` and `Directory`) seem to be duplicated.

I'm not sure if the issue is generated by the website itself, or via the included files from specific CWL version repositories.

For example: https://www.commonwl.org/v1.2/CommandLineTool.html#CWLType
Displays the following:
![image](https://user-images.githubusercontent.com/1919

[2022-11-01 11:48] mr-c commented on #153
I can confirm, this started in https://github.com/common-workflow-language/common-workflow-language.github.io/commit/dced5a1f8d4892548c90673e9e1532ad2a13a163#diff-8825bc9bf39f582c98c2f21f99236bc8d5cbd8de810f3c5fa15a058f7249c3aaL1505 from August 27th

Here is the contents of the CWL v1.2 repo at that time: https://github.com/common-workflow-language/cwl-v1.2/tree/6f15395c3a9c574d7dfb82b2fb19939ceb0

[2022-11-17 05:04] skanwal opened #156 "Request for access"
Hello,

Can I please get push/write access to the repository. I am trying to push a branch but getting an error:

[code]

[2022-11-17 11:12] mr-c commented on #156
Try again :-)

[2022-11-17 11:12] #156 closed

[2022-11-17 22:29] skanwal commented on #156
Thanks @mr-c, it worked.

[2022-11-18 00:58] skanwal opened #158 "The drop down menu in the left panel is cluttered"
Noted while going through the user guide, the menu on the left panel is cluttered/misaligned.

Adding a screenshot for reference.

![Screen Shot 2022-11-18 at 11 54 12 am](https://user-images.githubusercontent.com/9857259/202591931-89fcbbbe-b4b1-4c35-ad13-dbb5dda37bf6.png)

[2022-11-18 04:01] kinow commented on #158
Hi @skanwal !!

I think that is fixed but no released. Ref issue is https://github.com/common-workflow-language/user_guide/issues/244

The user guide has [a new release process](https://github.com/common-workflow-language/user_guide/blob/main/CONTRIBUTING.md#how-to-contribute) and once others have approve the version with this fix, it should be released and fixed.

Cheers
Bruno

[2022-11-18 04:04] skanwal commented on #158
Ah great. Good to know it's being worked on.
Thanks @kinow.

[2022-11-18 04:04] #158 closed

[2022-11-28 13:19] #152 closed